#meetingbox {
    margin: 1px;
    background-color: LightBlue;
    border: 1px dashed LightSteelBlue ; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#topicbox {
    margin: 1px;
    background-color: MistyRose;
    border: 1px dashed LightPink;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#terminalbox {
    margin: 1px;
    background-color: WhiteSmoke;
    border: 1px dashed lightgray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}